*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
font-family: 'Poppins', sans-serif;
color: white;

}
/* 
#contentbtn{


    height: 3.5rem;
    width: 15rem;
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,32,48,1) 0%, rgba(0,212,255,1) 100%);

}
#deletebtn{

    height: 3.5rem;
    width: 15rem;
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,32,48,1) 0%, rgba(0,212,255,1) 100%);

}
#updatebtn{


    height: 3.5rem;
    width: 15rem;
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,32,48,1) 0%, rgba(0,212,255,1) 100%);

} */
body{
    background-color: #e5da97;
}

.heading{
    font-size: 3rem;
    text-align: center;
    margin-top: 3rem;
}
.btn{


  margin-top: 3rem;
    height: 3rem;
    width: 10rem;
  background-color: #af960a;  
    margin-left: 1rem;
/* border-radius: 0.5rem; */
font-weight: 500;
font-size: 1.1rem;
border-style: none;
}

.btnmain{
    
    display: flex;
justify-content: center;
}
.content{


    background-color: #E8CA00;
    height: 25rem;
    width: 20rem;
    /* border-radius: 4rem; */


}    

.content1{


    background-color: #E8CA00;
    height: 25rem;
    width: 20rem;
    margin-left: 2rem;
    /* border-radius: 4rem; */


}    

.container{
    display: flex;
    justify-content: center;
    margin-top: 5rem;

}